.ada-input {
  display: flex;
  padding: $input-padding-y $input-padding-x;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  background: $input-bg;
  color: $input-color;
  box-shadow: $input-box-shadow;
  transition: $input-transition;

  .ada-input-content {
    position: relative;
    flex-grow: 1;
    .ada-input-ipt {
      padding: $input-ipt-padding;
      outline: none;
      border: none;
      width: $input-ipt-width;
    }
    .ada-input-icon, .ada-input-clear {
      position: absolute;
      top: $input-icon-top;
      right: $input-icon-right;
      margin-top: -$input-icon-height/2;
      color: $input-icon-color;
      width: $input-icon-width;
      height: $input-icon-height;
      background: $input-bg;
      pointer-events: none;
    }
    .ada-input-clear {
      cursor: pointer;
      pointer-events: auto;
      &:active {
        color: $input-icon-active-color;
      }
    }
  }
}
.ada-input.ada-input-focused {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
  background: $input-focus-bg;
  color: $input-focus-color;
}
.ada-input.ada-input-disabled {
  background: $input-disabled-bg;
  border-color: $input-disabled-border-color;
  .ada-input-icon, .ada-input-clear {
    background: $input-disabled-bg;
  }
}