.ada-alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  border: $border-width solid transparent;
  border-radius: $border-radius;
}

.ada-alert-success {
  @include alert-style($white, $success, $success)
}

.ada-alert-default {
  @include alert-style($white, $primary, $primary)
}

.ada-alert-danger {
  @include alert-style($white, $danger, $danger)
}

.ada-alert-warning {
  @include alert-style($white, $warning, $warning)
}

.ada-alert-message {
  display: none;
  font-size: $font-size-sm;
  line-height: $line-height-base;
}

.ada-alert-width-message {
  .ada-alert-message {
    display: block;
  }
}

.ada-alert-close {
  position: absolute;
  top: $alert-close-top;
  right: $alert-close-right;
  color: $white;
  cursor: pointer;
}

.ada-alert-icon {
  margin-right: $alert-icon-mr;
}